.footer__column-link {
    margin: 0 0 16px 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    list-style:inside;
    transition: opacity 0.5s;
  }

  .footer__column-link:hover {
    opacity: 50%;
  }